.password-form {
  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
}

.label-input-pair {
  margin: 0.5rem;
  label {
    font-size: 1rem;
  }

  select,
  input {
    float: right;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.button-box {
  text-align: center;
}
